* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1C1C1C;
}
.container {
  max-width: 120rem;
  background-color: #39ff14;
  color: #Fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px #32cd32, 0 0 40px #32cd32;
  font-style: italic;
  .fact{
    color: #222222;
    border-left: 4px solid #D4AF37;
    font-style: italic;
    font-size: 2rem;
    padding: 2rem;
  }

  .gif{
    text-align: center;
  }
}